$dark: lighten(black, 7%);
$grey: lighten(black, 10%);
$white: #f3f1e8;
$navbar-bg: $dark;
$border-radius: 1rem;

$secondary: #5d1d09;
$primary: #50adc0;
$primary-bg: #030512;
$tertiary: #652b41;
$martel: "Martel", serif;
$montserrat: "Montserrat", sans-serif;

$card-bg: $secondary;

$mobile-nav-height: 10vh;

$grid-breakpoints: (
  xs: 0,
  sm: 400px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$container-max-widths: (
  sm: 550px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$body-bg: darken($white, 10%);
$body-color: $dark;

$light: $white;

@import "~/node_modules/bootstrap/scss/bootstrap.scss";
@import "~/node_modules/bootstrap-vue/src/index.scss";
